In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls

2019_and_all_time.csv
allTime.csv
allTime_pulled.csv
clean_movies_01.csv
clean_movies_03.csv
movies.csv
omdb_extract.ipynb
README.md
Untitled.ipynb
Untitled1.ipynb

In [3]:
def merge_movie_data(csv1, csv2):
    data1 = pd.read_csv(csv1)
    data2 = pd.read_csv(csv2)
    merged_df = pd.merge(data1, data2, on = 'Title', how = 'outer')
    return merged_df

In [4]:
csv1 = 'movies.csv'
csv2 = 'allTime.csv'

In [5]:
merged_A = merge_movie_data(csv1, csv2)

In [6]:
len(merged_A)

833

In [29]:
merged_A.head(2)

,Rank_x,Title,Worldwide,Domestic,% Domestic,Foreign,% Foreign,Rank_y,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
0,1.0,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.70%,"$1,939,427,564",69.30%,1.0,"$2,797,800,564","$858,373,000",30.70%,"$1,939,427,564",69.30%,2019.0
1,2.0,The Lion King,"$1,656,310,290","$543,635,236",32.80%,"$1,112,675,054",67.20%,7.0,"$1,656,310,290","$543,635,236",32.80%,"$1,112,675,054",67.20%,2019.0

In [31]:
dataA = merged_A[['Title', 'Worldwide', 'Domestic', '% Domestic', 'Foreign', '% Foreign']]

In [32]:
data_B = pd.read_csv('clean_movies_03.csv')

In [33]:
dataA.head(1)

,Title,Worldwide,Domestic,% Domestic,Foreign,% Foreign
0,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.70%,"$1,939,427,564",69.30%

In [24]:
data_B.head(1)

,Unnamed: 0,Title,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,...,Type,Website,Writer,Year,imdbID,imdbRating,imdbVotes,index,level_0,totalSeasons
0,0,Avengers: Endgame,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",NaN,NaN,USA,30-Jul-19,"Anthony Russo, Joe Russo","Action, Adventure, Drama, Sci-Fi","English, Japanese, Xhosa",...,movie,NaN,"Christopher Markus (screenplay by), Stephen Mc...",2019,tt4154796,8.5,"589,503",0.0,0.0,NaN

In [35]:
merged_B = pd.merge(data_B, dataA, on = 'Title', how = 'left')

In [36]:
merged_B

,Unnamed: 0,Title,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,...,imdbRating,imdbVotes,index,level_0,totalSeasons,Worldwide,Domestic,% Domestic,Foreign,% Foreign
0,0,Avengers: Endgame,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",NaN,NaN,USA,30-Jul-19,"Anthony Russo, Joe Russo","Action, Adventure, Drama, Sci-Fi","English, Japanese, Xhosa",...,8.5,"589,503",0.0,0.0,NaN,"$2,797,800,564","$858,373,000",30.70%,"$1,939,427,564",69.30%
1,1,The Lion King,"Rowan Atkinson, Matthew Broderick, Niketa Cala...",Won 2 Oscars. Another 33 wins & 29 nominations.,"$94,240,635",USA,7-Oct-03,"Roger Allers, Rob Minkoff","Animation, Adventure, Drama, Family, Musical","English, Swahili, Xhosa, Zulu",...,8.5,"869,323",0.0,1.0,NaN,"$1,656,310,290","$543,635,236",32.80%,"$1,112,675,054",67.20%
2,1,The Lion King,"Rowan Atkinson, Matthew Broderick, Niketa Cala...",Won 2 Oscars. Another 33 wins & 29 nominations.,"$94,240,635",USA,7-Oct-03,"Roger Allers, Rob Minkoff","Animation, Adventure, Drama, Family, Musical","English, Swahili, Xhosa, Zulu",...,8.5,"869,323",0.0,1.0,NaN,"$1,656,310,290","$543,635,236",32.80%,"$1,112,675,054",67.20%
3,2,Spider-Man: Far from Home,"Tom Holland, Samuel L. Jackson, Jake Gyllenhaa...",NaN,NaN,USA,17-Sep-19,Jon Watts,"Action, Adventure, Sci-Fi","Italian, Czech, English",...,7.6,"221,516",0.0,2.0,NaN,"$1,131,927,996","$390,532,085",34.50%,"$741,395,911",65.50%
4,3,Captain Marvel,"Brie Larson, Samuel L. Jackson, Ben Mendelsohn...",NaN,NaN,"USA, Australia",11-Jun-19,"Anna Boden, Ryan Fleck","Action, Adventure, Sci-Fi",English,...,7.0,"368,679",0.0,3.0,NaN,"$1,128,274,794","$426,829,839",37.80%,"$701,444,955",62.20%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,0,Pen huo mei ren yu,"Jenny Hu, Han Chin, Yi Ling Chen, Chok Chow Ch...",NaN,NaN,Hong Kong,NaN,Chia-Hsiang Wu,"Comedy, Musical, Romance",Mandarin,...,6.2,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
714,0,Star Wars: Episode VIII - The Last Jedi,"Mark Hamill, Carrie Fisher, Adam Driver, Daisy...",Nominated for 4 Oscars. Another 12 wins & 71 n...,"$619,117,636",USA,27-Mar-18,Rian Johnson,"Action, Adventure, Fantasy, Sci-Fi",English,...,7.1,"481,503",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
715,0,Madagascar 3: Europe's Most Wanted,"Ben Stiller, Chris Rock, David Schwimmer, Jada...",2 wins & 20 nominations.,"$216,366,733",USA,16-Oct-12,"Eric Darnell, Tom McGrath, Conrad Vernon","Animation, Adventure, Comedy, Family","English, Spanish",...,6.8,"151,078",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716,0,Furious 7,"Vin Diesel, Paul Walker, Jason Statham, Michel...",Nominated for 1 Golden Globe. Another 28 wins ...,"$316,986,481","USA, China, Japan, Canada, United Arab Emirates",15-Sep-15,James Wan,"Action, Adventure, Thriller","English, Thai, Arabic, Spanish",...,7.2,"341,279",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,0,Iron Man 3,"Robert Downey Jr., Gwyneth Paltrow, Don Cheadl...",Nominated for 1 Oscar. Another 17 wins & 61 no...,"$408,992,272",USA,24-Sep-13,Shane Black,"Action, Adventure, Sci-Fi",English,...,7.2,"710,178",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
merged_B.to_csv('allTime and 2019.csv')

In [ ]:
merged_B.uniq